# Python

Comprehensive, High Level Object Oriented Programming Language, Interpreted, Dynamically typed, Case sentisitive, indented

Data Science/ML/AI --> Numpy, Pandas, Scipy, Scikit-learn, Statsmodel, Keras, Pytorch

Visualisation --> Matplotlib, Seaborn, Plotly, ggplot2

Testing --> Selenium, Debugger, Unit-test, Pylint, pytest

Networking/ socket --> Sockets, Ordinov/Raspberry pie, Threads

Web application development --> Flask, Django

Web crawl/scrap --> Beautiful soup, Snapy, url lib

In [ ]:
balance = 100

In [ ]:
balance = 800

In [ ]:
balance

In [ ]:
balance2 = 500

In [ ]:
# Statements in Python needs to be terminated by a colon
# (if, else, elif, def, class, for, while)

In [ ]:
if 6<5:
    print("hello")
print("Always executed")

In [ ]:
# This is just to demonstrate that keywords shouldn't be used as the name of the variable 
# class = "Python"

In [ ]:
10+5

In [ ]:
10*5

In [ ]:
10-5

In [ ]:
17/4

In [ ]:
17//4

In [ ]:
19%4

In [ ]:
2**3

In [ ]:
2==4

In [ ]:
2<=4

In [ ]:
v = 100

In [ ]:
type(v)

In [ ]:
type("hello")

In [ ]:
type(100.78524)

In [ ]:
# Ordered data structures --> Strings, Lists, Tuples, Arrays, nd arrays, dataframes, series

In [ ]:
# UnOrdered data structures --> Dictionaries & Sets

In [ ]:
s="Hi I'm new in sam's office"

In [ ]:
'Iam new here'

In [ ]:
'i\'m here'

In [ ]:
len(s)

In [ ]:
# Index/indices starts with "zero"
s[0]

In [ ]:
# Slicing --> Accessing multiple items
s[:9]

In [ ]:
s[3:]

In [ ]:
s[:]

In [ ]:
s[::3]

In [ ]:
# In python start index is inclusive and end index is exclusive
s[4:6]

In [ ]:
# Immutable --> 'str' object does not support item assignment
s[4] = 'a'

In [ ]:
s[4]

In [ ]:
s[:4]+'a'+s[5:]

In [ ]:
"Hi"+"2"

In [ ]:
"hi"*2

In [ ]:
s[-3]

In [ ]:
s[::-1]

In [ ]:
s[6::-1]

In [ ]:
s[-6:]

In [ ]:
dir(s)

In [ ]:
s.__add__(" hello")

In [ ]:
s.__contains__('h'.upper())

In [ ]:
s.upper()

In [ ]:
s[1].upper()

In [ ]:
s[14:].capitalize()

In [ ]:
s[14:].upper()

In [ ]:
s.replace("'",'a',1)

In [ ]:
help(s.replace)

In [ ]:
s.split(" ")

In [ ]:
type([])

In [ ]:
# List --> Collection object

In [ ]:
l = ["bangalore",100,["hi","hello"]]

In [ ]:
l[1]

In [ ]:
len(l)

In [ ]:
l[2][1].capitalize()

In [ ]:
# Mutable
l[2][1] = "Welcome"

In [ ]:
l[0][0] = 'M'

In [ ]:
l[1:]

In [ ]:
l.insert(1,200)

In [ ]:
l.pop()

In [ ]:
l.append(['blr','mys'])

In [ ]:
l.extend(['del'])

In [ ]:
l.extend('mum')

In [ ]:
l.pop()

In [ ]:
# Tuples

In [ ]:
t = (1,4,"hi",["hyd","che"],("Mum",))

In [ ]:
type(t)

In [ ]:
# Immutable
t[2]="hello"

In [ ]:
# Dictionaries --> Key & Value pair

In [ ]:
d = {}

In [ ]:
type(d)

In [ ]:
d['10'] = [1,2,3]

In [ ]:
d

In [ ]:
d['Name'] = ['Sean','Monika','John']

In [ ]:
d['Salary'] = (1000,20000,4000)

In [ ]:
d['Name'][2] = 'Jean'

In [ ]:
#d['Salary'][2] = 8000

In [ ]:
d.get('Name')

In [ ]:
d.keys()

In [ ]:
d.values()

In [ ]:
d.items()

In [ ]:
d.pop('ID')

In [ ]:
d['ID']=[10,20,30]

In [ ]:
# Sets

In [ ]:
l = [100,200,100,20,30,40,40,40,40,40,30]

In [ ]:
set(l)

In [ ]:
s = {1,2,3,4,5,6,7,8,4,5,6,7}

In [ ]:
s1 = {5,6,7,8}

In [ ]:
s&s1

In [ ]:
s|s1

In [ ]:
s.union(s1)

In [ ]:
s.intersection(s1)

In [ ]:
s.issubset(s1)

In [ ]:
s1.issubset(s)

In [ ]:
s.issuperset(s1)

In [ ]:
s.difference(s1)

In [ ]:
s.difference_update(s1)

In [ ]:
# Control statements --> Conditions & Iterations

In [ ]:
# Functions

In [ ]:
# Modules

In [ ]:
for i in 'Hello':
    #if i=='l':
        print(i, end = '*')

In [ ]:
for i in ['hi',100,200,'del']:
    print(i)

In [ ]:
for i in d:
    print(i)

In [ ]:
for i in d.values():
    print(i)

In [ ]:
for i in d.items():
    print(i)

In [ ]:
for k,v in d.items():
    print(k,v[1])

In [ ]:
 t = [('Kar','Blr'),('Tn','Che'),('Guj','Ahm'),('Mh','Mum')]

In [ ]:
for i,j in t:
    print(i)
    #print(j)

In [ ]:
marks = 80

In [ ]:
if (marks>35) & (marks<60):
    print("Passed")
elif (marks>60) & (marks<75):
    print("Good")
elif marks>75:
    print("Awesome")
else:
    print("Failed")

In [ ]:
Bal = 1000
amt = 800
print("You've taken the amount {} and balance is {}" .format(amt,(Bal-amt)))

In [ ]:
Bal = 1000
#amt = 800
inp = int(input("Enter the amount to withdraw"))
print("You've taken the amount {} and balance is {}" .format(inp,(Bal-inp)))

In [ ]:
if Bal>0:
    inp = int(input("Enter the amount to withdraw"))
    if inp>0:
        print("You've taken the amount {} and balance is {}" .format(inp,(Bal-inp)))
        Bal = Bal-inp
    else:
        print("Please input a positive number")

In [ ]:
for i in range(10):
    print(i)

In [ ]:
# break, pass [do nothing] & continue

In [ ]:
if 100>10:
    pass

In [ ]:
n = 0
for i in range(10):
    #n=n+1
    n+=1
    if n==5:
        #pass
        #break
        continue
    print("The number is : ", n)

In [ ]:
for i in [10,20,30,40]:
    pass

In [ ]:
# Ask the user for a input, check whether input is divisible by 2 or 3, print accordingly

In [ ]:
num = 5

while num>0:
    print(num)
    num-=1

In [ ]:
# Ask the user for a input (num of students)
# Take the marks of 3 subjects for each students
# Print qualified if the avg(marks)>75 else "failed"

In [ ]:
l = []
for i in range(10):
    if i%2==0:
        l.append(i**3)

In [ ]:
[i**3 for i in range(10) if i%2==0]

In [ ]:
# use list comprehension to print len of the word for even numbers and 
# First letter if it is odd number

In [ ]:
l = ['python','pyspark','java','hadoop']

In [ ]:
for i in l:
    if len(i)%2==0:
        print(len(i))
    else:
        print(i[0].upper())

In [ ]:
[len(i) if len(i)%2==0 else i[0].upper() for i in l]

In [ ]:
# Functions

In [ ]:
l = [10,20,40,88]

In [ ]:
def sq1(n):
    '''This fn returns the square of a given collection object'''
    for i in n:
        print(i*i)

In [ ]:
l1=sq1(l)

In [ ]:
type(l1)

In [ ]:
# Default parameter
def sq1(n=10):
    '''This fn returns the square of a given collection object'''
    return n*n

In [ ]:
v = sq1(8)

In [ ]:
sq1()

In [ ]:
# Positional arguments

def fn(a,b):
    print(a*2)
    print("Hello ",b)

In [ ]:
fn(10,"Peter")

In [ ]:
fn(b="Peter",a=10)

In [ ]:
def sm(x,y,z):
    return sum([x,y,z])

In [ ]:
sm(10,20,30)

In [ ]:
# Arbitrary arguments
def sm(*x):
    return sum([*x])

In [ ]:
sm(10,20,88,300,50)

In [ ]:
def kw(**kwargs):
    for k,v in kwargs.items():
        print(k,v)

In [ ]:
kw(ID=[1,2,3],Name=['a','b','c'])

In [ ]:
kw(Kar='Blr',Mh='Mum')

In [ ]:
def sq1(n=10):
    '''This fn returns the square of a given collection object'''
    return n*n

In [ ]:
sq1(8)

In [ ]:
sq1(l)

In [ ]:
for i in l:
    print(sq1(i))

In [ ]:
# Scope of a variable : LEGB rule --> Local, Enclosed, Global, Built-in

In [ ]:
x = 15

def scope():
    #print("The value of x is :", x)
    x=25
    print("The value of x is :", x)

In [ ]:
scope()

In [ ]:
x = 15

def scope(x):
    print("The value of x is :", x)
    x=25
    print("The value of x is :", x)

In [ ]:
x = 15

def scope():
    global x
    print("The value of x is :", x)
    x=25
    print("The value of x is :", x)

In [ ]:
# Map, Reduce, Filter, Lambda, Zip, Enumerate, Yield, Decorators, Iter

In [ ]:
list(map(sq1,l))

In [ ]:
def fn(x):
    if x%2==0:
        return x

In [ ]:
l.append(77)

In [ ]:
list(map(fn,l))

In [ ]:
list(filter(fn,l))

In [ ]:
list(map(lambda x:x*x,l))

In [ ]:
[i*i for i in range(5)]

In [ ]:
lf=lambda x:[x**2 for x in l]

In [ ]:
lf(l)

In [ ]:
from functools import reduce

In [ ]:
reduce(lambda x,y:x+y,l)

In [ ]:
reduce(lambda x,y:x if x>y else y,l)

In [ ]:
l1 = [2,3,4,5,6]

In [ ]:
def fn(x): return x*x

In [ ]:
fn(10)

In [ ]:
[(lambda x:x*x) (x) for x in l]

In [ ]:
list(map(lambda x:x*x,l))

In [ ]:
# Exception Handling
# Try, Except & Finally

In [ ]:
try:
    10+'hi'
except TypeError as te:
    print(te.args)

In [ ]:
10+'hi'

In [ ]:
try:
    num=10/int(input("Enter a number"))
    print(num)
except:
    print("Please input a number")
finally:
    print("Whatever")

In [ ]:
try:
    num=10/int(input("Enter a number"))
    print(num)
except ZeroDivisionError as zd:
    print(zd.args)
    print("Please donot input zero")
except ValueError as ve:
    print(ve.args)

In [ ]:
def x(y):
    try:
        10/y
    except ZeroDivisionError:
        try:
            print(y)
        finally:
            print("Something")
    finally:
        print("always")

In [ ]:
x(0)

In [ ]:
# Modules & Packages

In [ ]:
import math

In [ ]:
math.pow(10,2)

In [ ]:
math.sqrt(8)

In [ ]:
from math import sqrt as sq

In [ ]:
sq(100)

In [ ]:
from math import sqrt, exp, sin

In [ ]:
sin(100)

In [ ]:
dir(math)

In [ ]:
import sys

In [ ]:
dir(sys)

In [ ]:
for i in sys.argv:
    print(i)

In [ ]:
sys.path

In [ ]:
sys.__name__

In [ ]:
# Numpy --> Numerical Python
# N dimensional arrays --> nd arrays

In [ ]:
l = [1,4,5,8]

In [ ]:
l1 = [3,8,5,3]

In [ ]:
l+l1

In [ ]:
import numpy as np

In [ ]:
a1 = np.array(l)

In [ ]:
a2 = np.array(l1)

In [ ]:
a1.shape

In [ ]:
a1+a2

In [ ]:
a1.reshape(2,2).shape

In [ ]:
a1.reshape(2,2)

In [ ]:
arr = np.array([[1,2,3],[4,5,6],[7,8,9],[10,20,30]]).reshape(3,4)

In [ ]:
arr.T

In [ ]:
arr.shape

In [ ]:
arr.reshape(4,3)

In [ ]:
arr[2,2]

In [ ]:
arr[1,1:]

In [ ]:
arr[[0,2],2:]

In [ ]:
arr[[0,2],1::2]

In [ ]:
arr[::2,::2]

In [ ]:
# Shallow copy
l1 = l

In [ ]:
l1.append(10)

In [ ]:
# Deep copy
l2 = l[:]

In [ ]:
l2.append(100)

In [ ]:
arr.flatten()

In [ ]:
arr.cumsum()

In [ ]:
arr.max()

In [ ]:
from numpy import random

In [ ]:
random.rand(2,4)

In [ ]:
random.randint(2,6,2)

In [ ]:
random.randn(100)

In [ ]:
import seaborn as sns

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.figure(figsize=(10,5))
sns.distplot(random.randn(100))
import warnings
warnings.filterwarnings("ignore")
plt.show()

In [ ]:
np.hstack(arr)

In [ ]:
# Pandas
# Series --> One dimensional data [rows or columns]
# Dataframes

In [ ]:
import pandas as pd

In [ ]:
s1=pd.Series([10,80,44,88,22])

In [ ]:
s1.shape

In [ ]:
dt = pd.date_range('2024-01-24',periods=5)

In [ ]:
pd.date_range('2024-01-24',periods=5, freq='3M')

In [ ]:
s2=pd.Series([10,80,44,88,22],dt)

In [ ]:
s2['2024-01-27']

In [ ]:
s1[2:]

In [ ]:
s2.sort_values(ascending=False)

In [ ]:
s2.sort_index(ascending=False)

In [ ]:
df1 = pd.DataFrame([[19,23,45],[10,20,30]], columns=['x','y','z'], index=['Blr','Mlr'])

In [ ]:
df.shape

In [ ]:
pd.DataFrame(np.array(np.random.randn(2,3)))

In [ ]:
df = pd.DataFrame({'Days':['Mon','Tue','Wed','Thu','Fri'],'Temp':[23,22,18,16,25],
                   'Rained':['Yes','No','yes','No','Yes']})

In [ ]:
type(df['Days'])

[]   --> To access columns with labels and series of rows by index

loc --> Pure label based indexing

iloc --> Pure integer based indexing

dot notation 

ix, iat

In [ ]:
df[:3]['Rained']

In [ ]:
df['Days'][2:]

In [ ]:
df['Days'][0]

In [ ]:
df1.loc['Blr'][:2]

In [ ]:
df1.loc['Blr':][['x','z']]

In [ ]:
df1.loc[:]['x']

In [ ]:
df.iloc[:2,[1,0]]

In [ ]:
df.Days[2:]

In [ ]:
df.iloc[[0,4,2],[2,0]]

In [ ]:
df.iloc[0]

In [ ]:
df[:1]

In [ ]:
df[2:3]

In [ ]:
df1[1:]